<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mocha Spec Runner</title>
    <link rel="stylesheet" href="bower_components/mocha/mocha.css">
</head>
<body>
    <div id="mocha"></div>
    <script src="bower_components/mocha/mocha.js"></script>
    <script>mocha.setup('bdd')</script>
    <script src="bower_components/chai/chai.js"></script>
    <script>
        var assert = chai.assert;
        var expect = chai.expect;
        var should = chai.should();
    </script>

    <div class="container">
            <div class="header">
                <h3 class="text-muted">timebandit venture</h3>
            </div>

            <div class="message-parent">
                <div class="message-stream js-message-stream">
                    <!-- New Message -->


                </div>
                    <div class="form-group">
                        <input type="text" class="form-control username" placeholder="Username">

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control messageText" placeholder="Say Something!">
                    </div>
                    <button class="btn btn-default js-send-button">Go!</button>
            </div>


            <div class="footer">
                <p>♥ from the Yeoman team</p>
            </div>

        </div>

        <!-- Template for message-box -->
        <script id="message-template" type="text/template">
        <div class="user-name col-md-2 col-sm-2 col-xs-2 text-right"><%= username %>
        </div>
        <div class="msg-content col-md-7 col-sm-7 col-xs-7 text-left">
                <span><%= messageText %> 
                </span>
        </div>
        <div class="timestamp pull-right col-md-2 col-sm-2 col-xs-2">
            <span><%= messageDate %></span>
        </div>
        </script>


    <!-- include source files here... -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="scripts/main.js"></script>

    <!-- include spec files here... -->
    <script src="spec/test.js"></script>

    <script>mocha.run()</script>
</body>
</html>
