$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: gray;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 0px;
    padding-bottom: 20px;
    background: rgb(68, 69, 73);
    height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    background: rgb(28, 78, 104);
    margin-bottom: 0px;
    padding-top: 10px;

    .container {
        padding: 0px;
    }

    .text-muted {
        color: white;
    }

    .launch-chat {
        background: rgb(56, 141, 186);
        border-radius: 0px;
        padding: 10px 80px;
        margin-top: 15px;

        &:hover {
            background: #3A7CA0;
        }
    }

    h1 {
        color: white;
        margin-top: 0px;
    }

    .logout-btn {
        background: rgb(56, 141, 186);
        border-radius: 0px;
        padding: 10px 80px;
        margin-top: 15px;

        &:hover {
            background: #3A7CA0;
        }
    }

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 25px;
        padding-top: 20px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
}

.container-narrow > hr {
    margin: 30px 0;
}

.js-logout-btn{
    display: none;
}

//Playing with empty space:
.welcome{
    margin: 150px 0 75px 250px;

    .bee{
        width: 200px;
        height: 250px;
        margin-right: 5px;
    }

    .bee-talk{
        height: 200px;
        width: 200px;
        margin-top: -280px;
    }

    h2{
        position: absolute;
        margin: -305px 0 0 240px;
    }
}

// Begin modal styling
.modal-header {
    background: #ADADAF;
    color: rgb(68, 69, 73);
    font-size: 20px;
    border-bottom: 1px solid rgb(68, 69, 73);
}

.modal-body{
    background: rgb(56, 141, 186);
    padding: 25px 0 10px 20px;

    input {
        width: 45%;
        height: 40px;
        font-size: 16px;
        border: 1px solid;
        box-shadow: 1px 1px 1px;
    }
}

.modal-footer{
    margin-top: 0;
    background: rgb(56, 141, 186);
    border: none;

    .start-chat {
        background: rgb(28, 78, 104);
        border-radius: 0px;
        width: 120px;
        height: 36px;
        &:hover {
            background: #3A7CA0;
        }
    }

    .close-button {
        background: rgb(68, 69, 73);
        border-radius: 0px;
        width: 90px;
        height: 36px;
        border: none;
        color: white;
    }
}

/* Main marketing message and sign up button */
.message-parent {
    display: none;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 14px 24px;

    .new-message{
        padding: 35px 0;
        background: #ADADAF;
        margin: 10px 0 5px;
        font-size: 18px;

        .show-user{
            padding: 0;
            color: rgb(68, 69, 73);
        }

        .message-input{
            max-height: 45px;
            max-width: 514px;
            margin-left: 20px;
            padding: 5px;
        }

        .send-button {
            font-size: 18px;
            line-height: 1.42857;
            border-radius: 0px;
            background: rgb(56, 141, 186);
            color: white;
            border: none;
            margin-right: 15px;
            height: 45px;

            &:hover {
                background: #3A7CA0;
            }
        }
    }    

    .message-stream {
        height: 500px;
        overflow-y: scroll;
        overflow-x: hidden;

        .message-box {
            margin-bottom: 10px;
            position: relative;
            font-size: 18px;
            color: rgb(228, 226, 226);
            border-bottom: 1px solid #396279;
            height: 56px; 
            overflow: hidden;

            &.expand{
                overflow: none;
                height: auto;
            }

            .msg-content {
                padding-bottom: 10px;
            }

            .user-name {
                margin-left: 15px;
                color: #ADADAF;
            }

            .timestamp {
                position: relative;
                top: 0;
                color: #ADADAF;
            }

        }
    }
}

.footer{
    display: none;
    float: right;
}

/* Supporting marketing content */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 0px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
