$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: gray;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 0px;
    padding-bottom: 20px;
    background: rgb(68, 69, 73);
    height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    background: rgb(28, 78, 104);
    margin-bottom: 0px;

    .container {
        padding: 0px;
    }

    .text-muted {
        color: white;
    }

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

.js-logout-btn{
    display: none;
}

/* Main marketing message and sign up button */
.message-parent {
    display: none;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 14px 24px;

    .message-stream {
        
         
        .message-box {
            margin-bottom: 10px;
            position: relative;
            
            font-size: 18px;
            color: rgb(228, 226, 226);
            border-bottom: 1px solid #396279;

            &.expand {
                background: red;
            }
            
            .msg-content {

            }
            .user-name {
                margin-left: 15px;
                color: #ADADAF;
            }

            .timestamp {
                position: relative;
                top: 0;
                color: #ADADAF;
            }

        }
    }
}

/* Supporting marketing content */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 800px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 0px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
